/* Altera as fontes do sistema */
fonts = 'Open Sans', sans-serif;
/* Altera as propriedades do menu*/
menuBackgroundColor = #343633;
menuWidth = 15%
menuFontColor = #E4F0FB;
submenuColor = #616971;
/* Altera as propriedades da navbar*/
navbarHeight = 50px
navbarBackgroundColor = #4CA089
navbarLogoColor = #EBF1E9
/* Altera as propriedades da table*/
tableBorder = #bdc3c7
/* Altera as propriedades das cores de erro/sucesso */


