<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title">Produto</span>
            <p-splitButton [style]="{'float':'right'}" label="Salvar" (onClick)="salvar()" [model]="items"></p-splitButton>
        </div>
    </p-header>
    <h3>Cliente</h3>
    <input id="in1" type="text" size="30" pInputText [(ngModel)]="selecionado.cliente">
    <h3>Pedido</h3>
</p-panel>

<p-autoComplete name="produto" [(ngModel)]="produto" [suggestions]="produtos" (completeMethod)="filtrarProdutos($event)"
    [size]="30" [minLength]="1" [dropdown]="true" (onDropdownClick)="atualizaProdutos($event)" field="nome">
</p-autoComplete>
 <button pButton type="button" label="Inserir" icon="fa-folder-open" (click)="inserirProduto()"></button>


<p-dataTable [value]="selecionado.itens" [editable]="true">
    <p-column field="produto.nome" header="Produto"> </p-column>
    <p-column field="quantidade" header="Quantidade" [editable]="true"></p-column>
</p-dataTable>



