<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="Dashboard" icon="fa-plus"  [routerLink]="['./dashboard']"></button>
        <button pButton type="button" label="Categorias" icon="fa-folder-open" [routerLink]="['./categorias']"></button>
        <button pButton type="button" label="Produtos" icon="fa-folder-open" [routerLink]="['./produtos']"></button>
        <button pButton type="button" label="Pedidos" icon="fa-folder-open" [routerLink]="['./pedidos']"></button>
    </div>
</p-toolbar>
<router-outlet></router-outlet>
