    <div class="panel panel-primary">
      <div class="panel-body">
        <input type="text" [(ngModel)]="objeto.nome"
          placeholder="Nome" style="width: 25%;">
        <input type="text" [(ngModel)]="objeto.valor"
          placeholder="Valor" style="width: 50%;">
        <button (click)="onSave()" class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span>
          <span class="hidden-xs">Salvar</span>
        </button>
        <button (click)="onClear()" class="btn btn-warning">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="hidden-xs">Cancelar</span>
        </button>
      </div>
    </div>