@import "gumga/variables"
@import "gumga/mixins"
@import "gumga/general"
@import "gumga/menu"
@import "gumga/navbar"
@import "gumga/1440px"
html,body
  font-family 'Open Sans','Helvetica Neue',sans-serif
  font-size 1em

